* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  /* box-sizing: border-box; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}
.header img {
  width: 400px;
}
.header nav ul {
  list-style: none;
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.header nav ul li a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.main-index .shortbio {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  border: 3px solid black;
  border-radius: 25px;
  box-shadow: 0px 0px 10px #000;
  color: black;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  margin-left: 3%;
  margin-right: 3%;
  /* padding-left: 60%;
  border: 3px solid black; */
}
.main-index .index-container {
  margin-left: 4%;
  margin-right: 2%;
}
.main-index .index-container .image-container {
  height: 55vw;
  display: inline-flex;
  border: 3px solid black;
  box-shadow: 0px 0px 30px #000;
}

.main-bio .bio-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.main-bio #biography {
  background-color: #121212;
  display: inline-block;
  padding-top: 0%;
  padding-right: 25%;
  padding-left: 25%;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.main-media .mediaContainer {
  display: grid;
  margin-top: 1%;
  margin-bottom: 2%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 32px;
}
.main-media .mediaContainer img {
  border-radius: 8px;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 30px #000;
}

.main-gigs .gigsContainer {
  display: grid;
  margin-top: 1%;
  margin-bottom: 2%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 32px;
}
.main-gigs .gigsContainer img {
  border-radius: 8px;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 30px #000;
}

.main-contacts .mail-contact {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.main-contacts .contact {
  min-height: 100vh;
  background: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.main-contacts .contact .contactForm {
  width: 670px;
  height: 400px;
  display: flex;
  justify-content: center;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  background: whitesmoke;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
}
.main-contacts .contact .contactForm input {
  width: 290px;
  height: 40px;
  padding-left: 10px;
  outline: none;
  border: none;
  font-size: 15px;
  margin-bottom: 10px;
  background: none;
  border-bottom: 2px solid #121212;
}
.main-contacts .contact .contactForm input::-moz-placeholder {
  color: black;
  font-family: "Poppins", sans-serif;
}
.main-contacts .contact .contactForm input::placeholder {
  color: black;
  font-family: "Poppins", sans-serif;
}
.main-contacts .contact .contactForm input #lastName {
  margin-left: 20px;
}
.main-contacts .contact .contactForm input #mobile {
  margin-left: 20px;
}
.main-contacts .contact .contactForm textarea {
  background: none;
  border: none;
  border-bottom: 3px solid black;
  color: black;
  font-weight: 200;
  font-size: 15px;
  padding: 10px;
  outline: none;
  min-width: 600px;
  max-width: 600px;
  min-height: 80px;
  max-height: 80px;
}
.main-contacts .contact .contactForm textarea::-webkit-scrollbar {
  width: 1em;
}
.main-contacts .contact .contactForm textarea::-webkit-scrollbar-thumb {
  background-color: black;
}
.main-contacts .contact .contactForm #button {
  border: none;
  background: black;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  width: 100px;
  padding: 0;
  margin-right: 10px;
  margin-bottom: 30px;
  transition: 0.3s;
}
.main-contacts .contact .contactForm #button:hover {
  opacity: 0.7;
}

footer {
  background-color: #121212;
}
footer .socialIcons {
  display: flex;
  justify-content: center;
}
footer .socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
footer .socialIcons a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
footer .socialIcons a i:hover {
  background-color: #111;
  transition: 0.5s;
}
footer .socialIcons a i:hover i {
  background-color: white;
  transition: 0.5s;
}

.footerNav {
  margin: 30px 10;
}
.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNav ul li a:hover {
  opacity: 1;
}
.footerNav ul li a:hover i {
  background-color: white;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .header nav ul {
    flex-direction: column;
    padding-left: 18%;
    align-items: center;
    justify-content: space-between;
  }
  .footerNav ul {
    flex-direction: column;
  }
  ul li {
    width: 70%;
    text-align: center;
    margin: 1px;
    margin-right: 10px;
  }
  .main-index .image-container {
    height: 60vh;
  }
  .main-bio .biography {
    text-align: center;
  }
  .contact-form {
    width: 350px;
    height: 200px;
  }
}