@media screen and (max-width: 768px) {

    .header nav ul { 
        flex-direction: column;
        padding-left: 18%; 
        align-items: center;  
        justify-content: space-between;
    }

    .footerNav ul {
            flex-direction: column;
        }
            ul li {
            width: 70%;
            text-align: center;
            margin: 1px;
            margin-right: 10px;
        }
    .main-index .image-container{
        height: 60vh; }
        
    .main-bio .biography {
        text-align: center;
    }

    .contact-form {
        width: 350px;
        height: 200px;
    }

}



