    .header {
        background-color:black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        font-family: "Poppins", sans-serif;
        img {
            width: 400px;
            cursor: pointer;
        }
        nav ul {
            list-style: none;
            display: flex;
            column-gap: 15px;

        li a{
            color: white;
            font-size: 15px;
            text-decoration: none;
            opacity: 0.7;
            transition: 0.5s;
            &:hover {
                opacity: 1 ;            
                }
            &:hover i{
                background-color: white;
                transition: 0.5s;}
            }
        }
    }

    
